@import '../../../../../variables.scss';

.comment-container{
    padding-top: 2em;
    .comment-container {
        padding-top: .75em;
    }
    .comment-replies {
        padding-left: 1em;
        li {
            list-style-type: none;
            font-size: .95rem;
            padding-left: .5em;
            border-left: 3px solid $primary-light;
        }
    }
}