@import '../../../variables.scss';

.subredditlist {
    li {
        background-color: $primary-light;
        color: $secondary;
        &:last-child{
            border-bottom: none;
        }
        a {
            position: relative;
            text-decoration: none;
            display: block;
        }
        .subreddit-title {
            font-family: $font-family-serif;
        }
    }

    @media screen and (min-width: $layoutswitch){
        li {
            list-style-type: none;
            position: relative;
            overflow: hidden;
            height: auto;
            transform: translateY(0%)!important;
            &:last-child {
                a {
                    border-bottom: 1px solid rgba($primary, 0.5);
                }
            }
            &:hover,
            &:focus,
            &:active,
            &.active {
                a {
                    background-position: 50% 50%;
                    transition: background-position .25s ease,
                    border-color 1s ease;
                    border-color: transparent;

                    span {
                        transform: translateX(1rem);
                        transition: transform .5s ease;
                    }

                    &::before {
                        top: 0%;
                        transition: all .25s ease;
                    }
                }
            }
        }
        a {
            position: relative;
            padding: 1rem 1rem 1rem 0;
            color: $primary-light;
            border-top: 1px solid rgba($primary, 0.5);
            background: linear-gradient(90deg, rgba(61,73,74,1) 0%, rgba(61,73,74,1) 33%, rgba(44,56,57,1) 66%, rgba(44,56,57,1) 100%);
            background-size: 300% 300%;
            background-position: 100% 50%;
            transition: background-position .25s ease,
            border-color 1s ease;
            
            span {
                transform: translateX(0);
                transition: transform .25s ease;
            }
            &::before {
                content: '';
                display: block;
                width: 5px;
                height: calc(100% + 2px);
                background-color: $primary;
                position: absolute;
                left: 0;
                top: calc( 100% + 1px );
                transition: all .25s ease;
            }
            
        }

        li:hover + li a,
        li:focus + li a,
        li:active + li a,
        li.active + li a {
            border-top-color: transparent;
        }
        span {
            display: block;
        }
        .subreddit-title {
            font-family: $font-family-serif;
            font-weight: 700;
            padding-bottom: .05rem;
        }
        .subreddit-pathname {
            font-size: .8em;
        }
    }

    
    @media (max-width: $layoutswitch-max){
        li {
            background-color: $primary-light;
            height: 3rem;
            border-bottom: 1px solid $primary;
            transition: transform .5s ease;
            &:last-child{
                border-bottom: none;
            }
            a {
                color: $secondary;
                height: 100%;
                span{
                    padding: .75rem 1.5rem .75rem 2rem;
                    display: block;
                    &.subreddit-pathname{
                        display: none;
                    }
                }
                &::before{
                    content: 'r/';
                    font-family: $font-family-serif;
                    font-weight: $font-weight-bold;
                    color: $primary;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: .75rem;
                }
            }
        }
    }
}