@import '../../variables.scss';




html,
body,
#root,
#wrapper {
    height: 100%;
    width: 100%;
}
@media (min-width: $layoutswitch){
    #root{
        position: fixed;
    }
}

h1,
h2,
h3,
h4,
h6 {
    font-family: $font-family-serif;
    line-height: 1.35;
    max-width: 18ch;
    word-wrap: break-word;
}
h5{
    font-family: $font-family-sans-serif;
    font-weight: 400;
    line-height: 1.35;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: $global-font-size + (((6 / $i) - 1) * 3px);
    }
}
#wrapper{
    @media screen and (min-width: $layoutswitch){
        display: flex;
    }
}

@each $background, $value in $colors {
    .bg-#{$background}  { background-color: $value; }
}

.lightbox-bg {
    position: fixed;
    z-index: 5;
    background-color: $black;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.primary {
    color: $primary;
}

