@import '../../variables.scss';

aside {
    color: $primary-light;
    flex-basis: $sidebar-width;
    flex-shrink: 0;
    padding: $mainpadding;
    
    @media screen and (min-width: $layoutswitch){
        height: 100%;
        overflow: scroll;
    }
}
.subredditlist {
    margin-top: 2rem;
}
