@import '../../variables.scss';

main {
    position: relative;
    padding: $cardpadding*2 0 0 0;
    padding-bottom: 0;
    flex-grow: 1;
    
    @media screen and (min-width: $layoutswitch){
        height:100%;
        padding-right: $cardpadding;
        overflow: hidden;
    }
}
#postlist-wrapper {
    box-sizing: content-box;
    @media screen and (min-width: $layoutswitch){
        height:100%;
        overflow: scroll;
        overflow-x: hidden;
    }
}
#postlist {
    overflow: hidden;
}
.card-container{
    z-index: 10;
    position: fixed;
    overflow: scroll;
    height: auto;
    max-height: 100%;
    left: 50%!important;
    transform: translateX(-50%)!important;
    top: 0;
    width: 100%;

    @media screen and (min-width: $layoutswitch){
        position: absolute;
    }
    @media screen and (min-width: $breakpoint-xsmall){
        max-width: 600px;
    }
    @media screen and (min-width: $breakpoint-small){
        max-width: 700px;
    }
    @media screen and (min-width: $breakpoint-large){
        max-width: 800px;
    }
    
}




