@import '../../variables.scss';

.container {
    width: 80%;
    margin: auto;
}
.card {
    .color{
        height: 150px;
        width: 200px;
        margin-bottom: 15px;
        border: 1px solid rgba($white, 0.25);
    }
    width: 300px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    color: $white;
}
section {
    padding: 2rem 0;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
