@import '../../../variables.scss';


.card{
    cursor: pointer;
    transition: all .5s ease;
    position: relative;
    z-index: 2;
    color: $black;
    background: $white;
    transition: width .5s ease, height .5s ease;
    width: 100%;
    &::marker{
        content:'';
    }
    /*
    @media screen and (min-width: $breakpoint-xsmall){
        width: 50%;
    }
    @media screen and (min-width: $breakpoint-small){
        width: 33.332%;
    }
    @media screen and (min-width: $breakpoint-large){
        width: 25%;
    }
    @media screen and (min-width: $breakpoint-xxlarge){
        width: 20%;
    }
    @media screen and (min-width: $breakpoint-xxxlarge){
        width: 12.5%;
    }*/

    &.card-selected {
        padding: 0;
        cursor: default;
        width: 100%;

    }
    
    .card-details {
        position: relative;
        color: $black;
        text-decoration: none;
        display: block;
        background-color: $white;
        transition: all .1s ease;
        transform: scale(1);
    }
    
    img,
    video {
        width: 100%;
        height: auto;
    }
    .card-body{
        padding: $cardbodypadding;
        overflow-x: hidden;
        a {
            color: $primary;
            margin-bottom: 1rem;
            display: block;
            word-break: break-all;
        }
    }
    .title {
        margin-bottom: $cardbodypadding;
    }
    .author{
        font-size: .85em;
        color: $primary;
    }
    .name{
        font-weight: $font-weight-medium;
    }
    .post-author{
        margin-bottom: 1rem;
    }
    .card-footer{
        margin-top: auto;
        padding: $cardbodypadding / 2;
        display: flex;
        flex-wrap: wrap;

        .comments,
        .upvotes {
            margin-right: $cardbodypadding;
            padding-left: 25px;
            font-size: .8em;
            font-weight: $font-weight-medium;
            color: $secondary;
        }
        .comments{
            background: url('../../../assets/img/icon-comments.svg') left center no-repeat;
        }
        .upvotes{
            background: url('../../../assets/img/icon-likes.svg') left center no-repeat;
        }
    }
}

:not(.card-selected) .card {
    z-index: 3;
}
    
:not(.card-selected) .card:hover {

    .card-details {
        transform: scale(1.015);
        box-shadow: 0px 0px 20px rgba(0,0,0,.85);
        transition: all .1s ease;
    }
}
.card-selected .card:hover .card-details {
    transform: scale(1);
    cursor: default;
}


.btn-close{
    width: 70px;
    height: 26px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: $primary-light;
    color: $secondary;
    font-family: $font-family-serif;
    font-weight: $font-weight-bold;
    padding: 4px;
    z-index: 30;
    transition: background-color .5s ease, color .5s ease;
    &:hover{
        background-color: $primary;
        transition: background-color .5s ease, color .5s ease;
    }
}
@keyframes close {
    from { transform: rotate(0deg) }
    to { transform: rotate(45deg) }
}
@keyframes close-reverse {
    from { transform: rotate(0deg) }
    to { transform: rotate(-45deg) }
}
svg {
    margin-left: 5px;
    #close-btn-stroke1,
    #close-btn-stroke2{
        stroke-width: 5px;
        stroke: $black;
        transform-origin: center;
    }
    &:hover {
        #close-btn-stroke1 {
            animation: close .5s ease forwards;
        }
        #close-btn-stroke2 {
            animation: close-reverse .5s ease forwards;
        }
    }
}