@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-serif;
    color: $primary-light;
}
@for $i from 1 through 6 {
    h#{$i} {
        font-size: $global-font-size + (((6 / $i) - 1) * 5px);
    }
}
main {
    float: left;
    width: calc(100% - #{$sidebar-width});
}
aside {
    padding: $mainpadding * 2;
    color: $primary-light;
    width: $sidebar-width;
    float: left;
}
.container {
    padding: $mainpadding;
}

@each $background, $value in $colors {
    .bg-#{$background}  { background-color: $value; }
}