@import './assets/fonts/webfonts.scss';
@import './variables.scss';


body {
    font-family: $global-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $global-font-size;
    line-height: $global-line-height;
    font-weight: $base-body-font-weight;
    color: $secondary;
    background-color: $secondary;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



// STYLED SCROLLBAR

body::-webkit-scrollbar {
  width: 7px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: $primary $secondary;
}
body::-webkit-scrollbar-track {
  background: $secondary;
}
body::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 0;
  border: 3px solid $secondary;
}

// masonry grid
/*
ul.gridContainer {
  box-sizing: content-box;
  li.gridItem {
    box-sizing: content-box;
  }
}
*/