@import './assets/fonts/webfonts.scss';
@import './variables.scss';

body {
    font-family: $global-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $global-font-size;
    line-height: $global-line-height;
    font-weight: $base-body-font-weight;
    color: $secondary;
    background-color: $secondary;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}