
/* =========================================
                    colors 
   ========================================= */

$colors: (
    primary:            #8A7B1B,
    primary-light:      #D5CFA3,
    secondary:          #2C3839,
    secondary-light:    #3D494A,
    -black:             black,
    -white:             white
);

$primary:           map-get($colors, "primary");
$primary-light:     map-get($colors, "primary-light");
$secondary:         map-get($colors, "secondary");
$secondary-light:   map-get($colors, "secondary-light");
$black:             map-get($colors, "-black");
$white:             map-get($colors, "-white");

/* =========================================
                  breakpoints 
   ========================================= */

$grid-breakpoints: (
    xxs:    480px,
    xs:     640px,
    s:      768px,
    m:      992px,
    l:      1200px,
    xl:      1440px,
    xxl:     1680px,
    xxxl:    1920px
);

$breakpoint-xxsmall:                            map-get($grid-breakpoints, "xxs");  // iPhone SE 1st gen. portrait
$breakpoint-xsmall:                             map-get($grid-breakpoints, "xs");  // Phone portrait
$breakpoint-small:                              map-get($grid-breakpoints, "s");  // Phone landscape
$breakpoint-medium:                             map-get($grid-breakpoints, "m");  // Tablet Landscape
$breakpoint-large:                              map-get($grid-breakpoints, "l"); // Desktop
$breakpoint-xlarge:                             map-get($grid-breakpoints, "xl"); // Large Screens
$breakpoint-xxlarge:                            map-get($grid-breakpoints, "xxl"); // XLarge Screens
$breakpoint-xxxlarge:                           map-get($grid-breakpoints, "xxxl"); // XLarge Screens

$grid-breakpoints-max: (
    xxs:    ($breakpoint-xxsmall - 1),
    xs:     ($breakpoint-xsmall - 1),
    s:      ($breakpoint-small - 1),
    m:      ($breakpoint-medium - 1),
    l:      ($breakpoint-large - 1),
    xl:     ($breakpoint-xlarge - 1),
    xxl:    ($breakpoint-xxlarge - 1)
);

/* =========================================
                  typography 
   ========================================= */

$font-family-sans-serif:                         'Work Sans', sans-serif;
$font-family-serif:                              'Roboto Slab', serif;
$global-font-family:                             $font-family-sans-serif;
$base-heading-font-family:                       $font-family-serif;

$global-font-size:                               16px;
$global-line-height:                             1.5;
$base-body-font-weight:                          400;
$font-weight-medium:                             600;
$font-weight-bold:                               700;

/* =========================================
                  sizing 
   ========================================= */

$sidebar-width: 250px;

/* =========================================
                  spacing 
   ========================================= */

$mainpadding: 1.5rem;
$cardpadding: .35rem;
$cardbodypadding: 1rem;



//____________________________________ set sidebar to left side

$layoutswitch: $breakpoint-medium;